# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

#By KonovDS - to block any compiled files from loading to GitHub repository
*Debug
*Release